name: Deploy to server #nombre del workflow

on: push #evento que dispara el workflow

jobs:
  first_job: 
    runs-on: ubuntontu-latest #especifica el sistema operativo en el que se ejecutar치 el job
    
    steps:
      - name: Hola mundo
        run: echo "Hola mundo" #comando que se ejecutar치 en el job

jobs:
  second_job: 
    runs-on: ubuntontu-latest #especifica el sistema operativo en el que se ejecutar치 el job
    
    steps:
      - name: Hola mundo
        run: echo "Hola mundo 2" #comando que se ejecutar치 en el job